DebugSocketSolution/SocketCommon/bin/
DebugSocketSolution/SocketClient/obj/
DebugSocketSolution/SocketCommon/obj/
SocketServer/obj/
DebugSocketSolution/bin/
DebugSocketSolution/SocketClient/bin/
DebugHelper/obj/
DebugSocketSolution/obj/
DebugHelper/bin/
*.DotSettings
DebugSocketSolution/packages/
